* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark1: #48556b;
    --dark2: #6d829a;
    --light1: #edf2f8;
    --light2: #ffffff;
    --transparent: #6d829a23;
    --gray: #a5afcb;
}

body {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
}


.container {
    width: 100%;
    height: 100svh;
    background-color: var(--light1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.article-preview {
    position: relative;
    width: 750px;
    max-width: 100%;
    min-height: 270px;
    background-color: var(--light2);
    border-radius: 10px;
    display: flex;
    box-shadow: 15px 15px 30px 0px var(--transparent);
}

.article-preview .image {
    width: 40%;
    height: 100%;
}

.article-preview > .image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.article-preview .info {
    width: 60%;
    height: 100%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-preview .info .title {
    font-size: 20px;
    font-weight: 700;
    color: var(--dark1);
    margin-bottom: -10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    white-space: pre-wrap;
}

.article-preview .info .subtitle {
    font-size: 13px;
    color: var(--dark2);
    line-height: 20px;
    word-spacing: 1px;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    white-space: pre-wrap;
}

.article-preview .info .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-preview .info .bottom .author {
    display: flex;
}

.article-preview .info .bottom .author .image {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.article-preview > .info .bottom .author .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.article-preview .info .bottom .author .author-info {
    padding-left: 10px;
}

.article-preview .info .bottom .author .author-info .name {
    font-weight: 700;
    color: var(--dark1);
}

.article-preview .info .bottom .author .author-info .creation-date {
    color: var(--gray);
    font-size: 13px;
}

.article-preview .info .bottom .share .icon {
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--light1);
    padding: 0 0 0 2px;
    cursor: pointer;
    transition: .2s;
}

.article-preview .info .bottom .share .icon svg path {
    transition: .2s;
}

.article-preview .info .bottom .share .popup {
    position: absolute;
    bottom: 100px;
    right: calc(-125px - (-125px / 2) - 6px);
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 55px;
    background-color: var(--dark1);
    border-radius: 10px;
    box-shadow: 15px 15px 30px 0px var(--transparent);
    padding: 0 35px;
    cursor: text;
    opacity: 0;
    transition: .2s;
}

.article-preview .info .bottom .share .popup span {
    color: var(--gray);
    letter-spacing: 5px;
}

.article-preview .info .bottom .share .popup img {
    cursor: pointer;
}

.article-preview .info .bottom .share .popup img.hidden {
    display: none;
    opacity: 0;
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.article-preview .info .bottom .share .popup::after {
    content: '';
    position: absolute;
    top: 45px;
    left: 117px;
    width: 20px;
    height: 20px;
    background-color: var(--dark1);
    transform: rotate(45deg);
    transition: .2s;
}

/* .article-preview .info .bottom .share > span {
    position: absolute;
    bottom: 90px;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(45deg);
    transition: .2s;
} */


footer {
    position: absolute;
    bottom: 0;
    padding: 20px 50px;
    text-align: center;
}

@media only screen and (max-width: 950px) {
    .article-preview .info .bottom .share .popup {
        right: 20px;
    }

    .article-preview .info .bottom .share .popup::after {
        left: calc(250px - 20px - 25px);
    }
}

@media only screen and (max-width: 520px) {
    .container {
            padding: 0;
    }
    
    .article-preview {
        width: 85%;
        height: 500px;
        flex-direction: column;
    }

    .article-preview > div {
        width: 100% !important;
    }

    .article-preview .image {
        height: 40%;
    }
    
    .article-preview > .image img {
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .article-preview .info {
        height: 60%;
        padding: 20px 30px;
    }

    .article-preview .info .title {
        font-size: 16px;
        margin-bottom: -20px;
    }

    .article-preview .info .subtitle {
        margin: 0;
        -webkit-line-clamp: 5;
    }

    .article-preview .info .bottom .share .icon {
        width: 35px;
        height: 35px;
    }

    .article-preview .info .bottom .share .popup {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: 0;
        padding: 0 30px;
    }
    
    .article-preview .info .bottom .share .popup img.hidden {
        display: block;
    }

    .article-preview .info .bottom .share .popup::after {
        display: none;
    }
}
